{% extends 'base.html' %}
{% block content %}
    <div class='post single'>
        <h1>{{ post.title }}</h1>
        <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.getShortDate }}</h4>
        <img src='{{post.image.url}}' alt='' class='img-responsive center-block'/>
        <p>{{ post.body }}</p>
    </div>
    <div>
      {% load app_filters %}
      <ul>
        {% for comment in comments %}
          {% if comment.parent_comment_id != None %}
            <li class='comment subcomment'>
          {% else %}
            <li class='comment'>
          {% endif %}
            <img src="{{ comment.author.email|gravatar_url:150 }}" alt="{{ comment.author.username }}" class="avatar"/>
            <h2>{{ comment.author.username }}</h2>
            <span class="date">{{ comment.pub_date|date:"jS F Y H:i" }}</span>
            <p>{{ comment.body }}</p>
            <span class="likes">{{comment.likes}}</span>
          </li>
        {% endfor %}
      </ul>
      <img src="{{ user.email|gravatar_url:150 }}" alt="{{ user.username }}"/>
      <input type="text" name='newComment' class='new-comment-field'/>
    </div>
{% endblock %}